.ipl-theme-cotainer {
  padding-top: 60px;
}

.preview-action-container {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  justify-content: center;
}

img.img-fluid.ipl-logo-icon {
  width: 80px;
  height: auto;
  cursor: pointer;
  margin-right: 20px;
}

.card-preview-container {
  margin-left: 80px;
}

.ipl-icon-container {
  margin-bottom: 15px;
}

button.btn.btn-info.btn-lg.bg-green.text-white {
  border: none;
  font-size: 24px;
}

button.btn.btn-info.btn-lg.bg-green.text-white:hover {
  background-color: #21c98b;
}

.update-card-container {
  margin-top: 30px;
  text-align: center;
}

/* img.img-fluid.ipl-logo-icon:hover {
  transition: all 0.25s ease-in;
  border-radius: 49px;
  box-shadow: 0px 2px 13px 5px #22c98b;
} */

@media screen and (max-width: 767px) {
  .ipl-theme-cotainer {
    padding-top: 10px;
  }
  .card-preview-container {
    margin-left: 10px;
  }
  .preview-action-container {
    flex-direction: row;
    margin-top: 5px;
    top: 5px;
    left: -12px;
    right: 0;
    max-width: 84%;
    margin: 0 38px;
  }
  img.img-fluid.ipl-logo-icon {
    width: 52px;
    height: auto;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .update-card-container {
    margin-left: 0;
    text-align: center;
    margin-top: 10px;
  }
  button.btn.btn-info.btn-lg.bg-green.text-white {
    font-size: 18px;
  }
}
