/* loading spinner */

.stateLoading {
  /* display: flex; */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
}

.blur {
  background: rgb(212 197 197 / 20%);
  height: 100%;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.state-loader-icon {
  font-size: 77px;
}

/* loading spinner ends here */

/* preview mode css starts here */

.hide-action {
  display: none;
}
.perosnal-card-container.cardPreviewMode {
  max-width: 100%;
}
/* preview mode css ends here */
.cardview-container {
  background: url("../../assets/cardview-bg.svg");
  background-position: initial;
  background-size: cover;
}
.hidden {
  display: none;
}
/* personal card css starts here */

img.card-likes-icon {
  width: 25px;
  height: 25px;
  margin-right: 8px;
  cursor: pointer;
}
.likes-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 18px;
  top: 10px;
}

section.peronsal-card-section {
  padding-top: 4%;
  padding-bottom: 4%;
}

span.user-bio-bold-text {
  font-size: 81px;
  font-weight: 900;
}

h3.bio-initial-content.text-green {
  font-size: 49px;
  font-weight: 600;
  margin: 0;
}

.perosnal-card-container {
  max-width: 80%;
  margin: auto;
  border-radius: 8px;
}

p.user-given-bio.tex-white {
  font-size: 29px;
  font-weight: 700;
}

p.user-given-bio.text-white {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.12px;
  margin-left: 5px;
}

h4.user-name.text-white {
  margin: 15px;
  font-weight: 600;
  font-size: 21px;
}

img.img-fluid.web-icon {
  width: 15px;
}

span.perosnal-links {
  background: #fff;
  margin-right: 12px;
  padding: 3px 5px;
  font-size: 11px;
  border-radius: 6px;
}

span.perosnal-links a {
  color: #6850b3;
  font-weight: 600;
}

.user-card-inner-container-row {
  padding: 1% 3% 2% 3%;
  background: rgb(70, 93, 226);
  background: linear-gradient(
    139deg,
    rgba(70, 93, 226, 1) 12%,
    rgba(112, 77, 170, 1) 95%
  );
  border-radius: 8px;
}

.mini-card-profile-container .user-bio {
  word-break: break-all;
}

.card-peronsal-profile-container.text-center {
  margin-top: 11%;
}

.webiste-blog-container {
  margin-top: 18px;
}

.mini-card-actions-block.mini-business-action {
  background: #10224c;
}

img.img-fluid.action-icon.mini-card-rotate-icon {
  width: 26px;
  height: 24px;
}

.social-links-container {
  margin: 35px 0px 0px;
}

img.user-scoial-icon.img-fluid {
  width: 47px;
  margin-right: -8px;
}

.intrests-display-container {
  display: flex;
}

span.intrest-card {
  background: #fff;
  color: #6750b3;
  font-weight: 600;
  font-size: 14px;
  padding: 1px 14px;
  border-radius: 26px;
  margin-right: 10px;
}

a.custom-links.hidden {
  display: none;
}

a.custom-links {
  color: #22c98b;
  font-size: 16px;
  font-weight: 500;
  padding: 11px 41px;
  background: #112654;
  border-radius: 8px;
  margin-right: 40px;
}
.custom-link-display-container {
  display: flex;
  margin-left: 150px;
}
p.intrests-head.text-white {
  margin-bottom: 8px;
  font-weight: 800;
}
h3.custom-links-heading {
  margin-left: 145px;
  margin-bottom: 24px;
  color: #112654;
  font-size: 26px;
  font-weight: 500;
}

p.follow-heading.text-white {
  font-weight: 800;
}

.user-interestes-container {
  margin-left: 32px;
}

span.more-links {
  border: 1px solid #fff;
  color: #fff;
  padding: 9px;
  margin-left: 5px;
  border-radius: 18px;
}

i.fa.fa-heart-o {
  color: #22c98b;
  font-size: 29px;
}

i.fa.fa-heart-o:active {
  color: #21c98b;
  margin-bottom: 10px;
}

p.user-likes-count.text-white.text-bold {
  font-weight: bold;
}

.action-block {
  background: #fff;
  box-shadow: 0px 0px 6px 2px #eceaea;
  padding: 9px;
  border-radius: 45px;
  max-width: 43px;
  margin: 40px auto;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.action-block:hover {
  box-shadow: 0px 0px 8px 2px #59e0ae;
}

.card-action-container {
  margin-top: 5%;
}

.card-action-container {
  margin-left: 20px;
}

img.img-fluid.action-icon {
  width: 24px;
  height: 24px;
}

.personal-card-user-content-container {
  padding-left: 3%;
  padding-top: 10px;
  overflow-wrap: anywhere;
}

img.img-fluid.card-branding {
  width: 88px;
}

.card-branding-container {
  position: absolute;
  top: 0;
  background: #fff;
  padding: 4px 23px;
  border-radius: 0 0 102px 5px;
}

img.img-fluid.feedback-avatar {
  width: 70%;
}

.feedback-action-container {
  margin-top: 60px;
}

textarea#feedback-info {
  border-radius: 16px;
  border-color: #22c98b;
  padding: 13px;
}
.feedback-submit-btn.btn.btn-md {
  position: absolute;
  bottom: 3px;
  right: 13px;
  border-radius: 4px;
}

.feedback-optional-box {
  margin: 17px 0 0 30px;
}

.feedback-actions {
  display: flex;
  justify-content: space-evenly;
  margin-top: 60px;
}

img.img-fluid.feedback-action-img {
  width: 80px;
  cursor: pointer;
}

.feedback-heading {
  font-size: 30px;
  font-weight: 700;
}
.feedback-init-container {
  position: fixed;
  bottom: 0;
  right: 60px;
}
.feedback-init-container img {
  width: 60px;
  cursor: pointer;
}
p.d-none.d-md-block.d-lg-block.desktop-feedback-init {
  position: absolute;
  transform: rotate(90deg);
  background: #112654;
  color: #fff;
  padding: 8px 16px;
  left: -38px;
  top: 237px;
  cursor: pointer;
}
/* personal card css ends here */

img.img-fluid.user-personal-profile {
  width: 150px;
  height: 150px;
  border-radius: 56%;
  margin-top: 10px;
}

/* business card css starts here */

.user-card-inner-container-row.bussines-card {
  background: url("../../assets/business-card-background.svg") #303970;
  background-repeat: no-repeat;
  background-position: 32% 42%;
  padding: 2% 4%;
}

.user-bio-container.business-bio-container {
  margin-top: 42px;
}

p.user-given-bio.text-white.business-bio {
  font-size: 20px;
}

.card-peronsal-profile-container.text-center.business-profile {
  margin-top: 2%;
}

span.perosnal-links.business-link {
  background: #fff;
  margin-right: 12px;
  padding: 8px 6px;
  font-size: 11px;
  border-radius: 12px;
}

span.perosnal-links.business-link a {
  color: #6850b3;
  font-weight: 600;
  margin-left: 3px;
}

/* business card css ends here */

/* search cards css starts here */

.search-card-user-profile {
  border-radius: 45px;
}

section.search-card-results-section {
  padding: 0% 77px;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
}

.search-result-card {
  display: flex;
  justify-content: space-evenly;
  background: #f5f5f5;
  padding: 15px 1px;
  border-radius: 40px;
  box-shadow: 0px 2px 2px 0px #949494;
  max-width: 88%;
  margin: auto;
  margin-bottom: 48px;
  margin-top: 25px;
  cursor: pointer;
}

img.img-fluid.search-card-user-profile {
  width: 55px;
}

p.search-card-user-name {
  align-self: center;
  font-size: 21px;
  margin-top: 12px;
}

p.results-sub-heading.text-blue.fw-600 {
  font-size: 21px;
}

p.search-container-data {
  font-size: 22px;
  font-weight: 900;
  color: #22c98b;
}

img.img-fluid.resume-icon {
  width: 28px;
  float: right;
  margin: 10px 7px;
}

.business-services {
  margin-left: 0;
}
.social-links-container.business-social-apps {
  margin-top: 21px;
}
.user-interestes-container.business-services {
  margin-top: 20px;
}
/* search cards css ends here */

.no-card-container {
  text-align: center;
  padding-top: 14%;
}

img.no-card-found {
  width: 36%;
}

p.no-card-found-text.text-green {
  font-size: 29px;
  margin-top: 33px;
  font-weight: bold;
}

/* mini card */

section.mini-internet-card.visible-small {
  padding-top: 17%;
}

.mini-card-header.bg-color {
  height: 140px;
  border-radius: 17px 17px 0 0;
  background: rgb(82, 91, 226);
  background: linear-gradient(
    52deg,
    rgba(82, 91, 226, 1) 30%,
    rgba(175, 82, 227, 1) 69%
  );
}

.mini-card-body {
  background: #444243;
  color: #fff;
  padding: 0 18px 10px 18px;
}

.mini-card-profile-container {
  text-align: center;
  position: relative;
}

img.mini-social-icon.img-fluid {
  width: 40px;
  height: 40px;
  margin-right: 40px;
  margin-bottom: 18px;
}

.social-links-icon-container {
  margin-top: 15px;
}

img.mini-card-profile {
  width: 165px;
  border: 6px solid #fff;
  height: 165px;
  border-radius: 50%;
}

span.card-likes-icon {
  font-size: 31px;
  position: absolute;
  top: -49px;
  right: 11px;
}

img.card-likes-icon.disabled {
  pointer-events: none;
}

span.follow-text {
  font-weight: 900;
}

p.user-bio {
  color: #21c98b;
  font-weight: 900;
  font-size: 14px;
  line-height: 18px;
}

span.mini-intrest-card {
  background: #ffffff;
  color: #484848;
  font-weight: 600;
  padding: 4px 9px;
  font-size: 12px;
  margin-right: 13px;
  border-radius: 6px;
  display: inline-block;
  margin-top: 5px;
}

.mini-card-likes-container span.user-likes-count.text-white.text-bold {
  position: absolute;
  right: 31px;
  top: -12px;
  font-weight: 800;
}

img.mini-card-business-spcl-icons {
  width: 26px;
  height: 25px;
  margin-right: 14px;
  margin-bottom: 12px;
}

.mini-card-likes-container img.card-likes-icon {
  position: absolute;
  top: -41px;
  right: 16px;
}

.mini-card-actions-block {
  display: flex;
  justify-content: space-evenly;
  background: #22c98b;
  padding: 13px;
}

span.cardType.business {
  background: #303970;
}

span.cardType {
  position: absolute;
  top: 8px;
  left: 11px;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 2px 8px;
  border-radius: 50%;
  font-weight: 700;
  background: #22c98b;
}
a.my-cv-button.btn {
  background: #fff;
  color: #22c98b;
  font-size: 18px;
  font-weight: 700;
  max-width: 96.8%;
  padding: 3px 18px;
}
a.my-cv-button.btn.btn-md.btn-block.min-card {
  margin-top: 15px;
  font-size: 18px;
  padding: 5px 7px;
}
.card-pic-like-container {
  position: absolute;
  width: 100%;
  top: -82px;
}

.basic-info {
  padding-top: 88px;
}

.card-container {
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card-view-back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #112654;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h2.scan-text-heading.text-white {
  font-size: 42px;
}

.qr-container {
  background: #22c98b;
  padding: 5px;
  border-radius: 8px;
}

.card-branding-container.back-side-branding {
  left: 0;
}

.card-view-front,
.card-view-back {
  backface-visibility: hidden;
}

.flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

@media only screen and (max-width: 767px) {
  /* .ipl-banner {
    display: none;
  } */
  .feedback-init-container {
    right: 9px;
  }
  .card-view-back.mini-card-back {
    border-radius: 16px 16px 0 0;
    flex-direction: column;
    justify-content: space-around;
  }
  section.mini-internet-card.visible-small {
    padding-top: 20px;
    width: 400px;
    margin: auto;
  }
  section.search-card-results-section {
    padding: 5% 77px !important;
  }
  .search-result-card {
    max-width: 100%;
    margin-bottom: 29px;
  }
  img.img-fluid.search-card-user-profile {
    width: 47px;
  }
  p.search-card-user-name {
    font-size: 15px;
    padding: 8px 1px;
  }
  .no-card-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  img.no-card-found {
    width: 60%;
  }
}

@media only screen and (max-width: 576px) {
  img.ipl-mini-banner.img-fluid {
    width: 88%;
    height: 90px !important;
    margin-bottom: 10px;
  }
  .feedback-action-container {
    margin-top: 0px;
  }
  img.img-fluid.feedback-action-img.hvr-icon {
    width: 40px;
  }
  .feedback-actions {
    margin-top: 35px;
  }
  .feedback-heading {
    font-size: 21px;
    font-weight: 700;
  }
  section.mini-internet-card.visible-small {
    padding-top: 20px;
  }
  .mini-card-body {
    background: #444243;
    color: #fff;
    padding: 0px 10px 10px 17px;
  }
  .social-links-icon-container {
    display: flex;
    flex-wrap: wrap;
  }
  .social-links-icon-container a {
    margin-right: 9px;
    margin-bottom: 12px;
  }
  img.mini-social-icon.img-fluid {
    margin-right: 8px;
  }
  section.peronsal-card-section {
    padding-top: 24%;
  }

  h3.custom-links-heading {
    margin: 44px 0px 24px 0;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
  a.custom-links {
    background: transparent;
    border: 2px solid #112654;
    margin-bottom: 9px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 24px;
  }
  .custom-link-display-container {
    flex-direction: column;
    margin-top: 25px;
    margin-left: 22px;
  }

  .cardview-container {
    background: none;
  }
}

@media only screen and (max-width: 450px) {
  section.mini-internet-card.visible-small {
    width: 350px;
  }
}

@media only screen and (max-width: 400px) {
  img.mini-social-icon.img-fluid {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 350px) {
  section.mini-internet-card.visible-small {
    width: 300px;
  }
}

/* ipl theme css starts here */
.card-view-front.user-card-inner-container-row.kkr {
  background: url("../../assets/kkr-card-bg.svg");
}

.card-view-front.user-card-inner-container-row.srh {
  background: url("../../assets/srh-card-bg.svg");
}

.card-view-front.user-card-inner-container-row.rr {
  background: url("../../assets/rr-card-bg.svg");
}

.card-view-front.user-card-inner-container-row.rcb {
  background: url("../../assets/rcb-card-bg.svg");
}

.card-view-front.user-card-inner-container-row.pk {
  background: url("../../assets/pbk-card-bg.svg");
}

.card-view-front.user-card-inner-container-row.mi {
  background: url("../../assets/mi-card-bg.svg");
}
.card-view-front.user-card-inner-container-row.lsg {
  background: url("../../assets/lsg-card-bg.svg");
}

.card-view-front.user-card-inner-container-row.gt {
  background: url("../../assets/gt-card-bg.svg");
}

.card-view-front.user-card-inner-container-row.dc {
  background: url("../../assets/dc-card-bg.svg");
}

.card-view-front.user-card-inner-container-row.csk {
  background: url("../../assets/csk-card-bg.svg");
}

.mini-card-actions-block.min-card-inner-container.hidden {
  display: none;
}

.min-card-inner-container.position-relative.csk {
  background: url("../../assets/csk-mobile-bg.svg");
}

.min-card-inner-container.position-relative.gt {
  background: url("../../assets/gt-mobile-bg.svg");
}

.min-card-inner-container.position-relative.mi {
  background: url("../../assets/mi-mobile-bg.svg");
}

.min-card-inner-container.position-relative.rcb {
  background: url("../../assets/rcb-mobile-bg.svg");
}

.min-card-inner-container.position-relative.srh {
  background: url("../../assets/srh-mobile-bg.svg");
}

.min-card-inner-container.position-relative.dc {
  background: url("../../assets/dc-mobile-bg.svg");
}

.min-card-inner-container.position-relative.lsg {
  background: url("../../assets/lsg-mobile-bg.svg");
}

.min-card-inner-container.position-relative.pk {
  background: url("../../assets/pbk-mobile-bg.svg");
}

.min-card-inner-container.position-relative.rr {
  background: url("../../assets/rr-mobile-bg.svg");
}

.min-card-inner-container.position-relative.kkr {
  background: url("../../assets/kkr-mobile-bg.svg");
}

section.mini-internet-card.visible-small.miniCardPreviewMode
  .mini-card-header.bg-color {
  background: transparent;
}

.min-card-inner-container.position-relative {
  background-position: -21px -1px !important;
}

img.img-fluid.modal-close-icon.ipl-close {
  position: absolute;
  right: 0;
  top: 0;
}
.modal-body.ipl-modal {
  max-width: 69%;
  margin: auto;
}

.ipl-banner {
  text-align: center;
}

img.ipl-mini-banner.img-fluid {
  height: 144px;
}

.mini-card-body.transparent {
  background: transparent;
}
/* ipl theme css ends here */
