<section class="card-type-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6 col-md-6">
                <div class="card-init-content-box">
                    <div class="box-heading text-center">
                        <h2 class="box-heading">
                            Create Personal Card
                            <span><i class="fa fa-id-card" aria-hidden="true"></i></span>
                        </h2>
                    </div>
                    <div class="box-points-block">
                        <p class="box-point">
                            <span><img
                  src="assets/checkcircle.svg"
                  class="img-fluid circle-icon"
                />
              </span> Add your social media links
                        </p>
                        <p class="box-point">
                            <span><img
                  src="assets/checkcircle.svg"
                  class="img-fluid circle-icon"
                />
              </span> Share with friends
                        </p>
                        <p class="box-point d-flex">
                            <span><img
                  src="assets/checkcircle.svg"
                  class="img-fluid circle-icon"
                />
              </span> Customize card with avatars
                        </p>

                        <p class="box-point d-flex">
                            <span><img
                  src="assets/checkcircle.svg"
                  class="img-fluid circle-icon"
                />
              </span> Add cv and share with friends
                        </p>

                        <p class="box-point d-flex">
                            <span><img
                  src="assets/checkcircle.svg"
                  class="img-fluid circle-icon"
                />
              </span> Includes link in Your Social Media
                        </p>
                    </div>
                    <div class="card-create-button text-center">
                        <button class="btn btn-md text-green personal-button hvr-float" (click)="personalFormInit()">
              Create card
            </button>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-md-6 d-flex">
                <div class="card-init-content-box active">
                    <div class="box-heading text-center">
                        <h2 class="box-heading">
                            Create Business Card
                            <span><i class="fa fa-id-card" aria-hidden="true"></i></span>
                        </h2>
                    </div>
                    <div class="box-points-block">
                        <p class="box-point d-flex">
                            <span><img
                  src="assets/checkcircle.svg"
                  class="img-fluid circle-icon"
                />
              </span> Add your business social media links
                        </p>
                        <p class="box-point d-flex">
                            <span><img
                  src="assets/checkcircle.svg"
                  class="img-fluid circle-icon"
                />
              </span> Share with audience
                        </p>
                        <p class="box-point d-flex">
                            <span><img
                  src="assets/checkcircle.svg"
                  class="img-fluid circle-icon"
                />
              </span> Add link in your business social media links
                        </p>
                    </div>
                    <div class="card-create-button text-center">
                        <button class="btn btn-md business-button hvr-float" (click)="businessFormInit()">
              Create card
            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
